---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Section.astro";
import H1 from "../../components/H1.astro";
import CTA from "../../components/CTA.astro";
import Paragraph from "../../components/Paragraph.astro";
import BentoGrid from "../../components/BentoGrid.astro";
import Structure from "../../components/Structure.astro";
import fotoNeiya from "../../assets/member/bph-neiya.jpg";
import fotoHarry from "../../assets/member/bph-harry.jpg";
import MPKPO from "../../assets/structure/MPKPO.jpg";
import H2 from "../../components/H2.astro";
import logoHimafi from "../../assets/images/himafi.png";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const departments = await getCollection("departments");
const title = `Tentang`;
import HistorySection from "../../components/HistorySection.astro";
---

<Layout Pagetitle={title}>
  <Section direct="about">
    <div
      class="flex flex-col w-full py-16 items-center lg:pt-42 pt-30 md:pt-30"
    >
      <div class="px-4 sm:px-8 md:px-16 lg:px-72 mb-6">
        <H1 text="TENTANG" mode="center" />
        <Paragraph
          text="HIMAFI merupakan organisasi yang berada dibawah Program Studi Fisika Fakultas Sains dan Teknologi Universitas Islam Negeri Syarif Hidayatullah Jakarta, yang memiliki garis koordinasi dengan Organisasi Legislatif dan Organisasi Eksekutif tingkat Fakultas Sains dan Teknologi Universitas Islam Negeri Syarif Hidayatullah Jakarta dan Ikatan Himpunan Mahasiswa Fisika Nasional. HIMAFI juga menyediakan wadah yang bermanfaat untuk mengembangkan sumber daya mahasiswa dan menampung segala aspirasi mahasiswa aktif Fisika UIN Syarif Hidayatullah Jakarta."
          mode="center"
        />
      </div>
      <BentoGrid />
    </div>
  </Section>
  <Section mode="dark" direct="vision">
    <div
      class="py-20 md:pt-36 px-10 md:px-16 lg:px-72 flex flex-col items-center justify-center"
    >
      <div><H1 text="Kami berkomitmen pada" /></div>
      <div
        class="mt-20 flex flex-col md:flex-row gap-6 md:gap-16 justify-between items-center"
      >
        <div class="md:w-1/2 flex flex-col justify-center items-center">
          <div
            class="bg-secondary-bright md:p-16 p-6 md:rounded-2xl rounded-t-4xl rounded-b-md text-primary appear-anim"
          >
            <H1 text="VISI" mode="center" />
            <p class="leading-relaxed mt-4 text-fluid-body font-isi">
              Mewujudkan jantung Himpunan yang integratif, akuntabel, dan
              profesional sebagai poros stabilitas serta sinergitas HIMAFI UIN
              Syarif Hidayatullah Jakarta.
            </p>
          </div>
          <br class="mt-10" />
          <div
            class="bg-teritary md:p-16 p-6 rounded-md md:rounded-2xl text-primary appear-anim"
          >
            <H1 text="MISI" mode="center" />
            <ol
              class="leading-relaxed mt-4 ml-4 text-fluid-body font-isi text-justify list-decimal"
            >
              <li>
                Mewujudkan tata kelola HIMAFI yang integratif dan efisien.
              </li>
              <li>
                Menjamin transparansi dan akuntabilitas finansial yang
                tepercaya.
              </li>
              <li>Mengoptimalkan monitoring dan evaluasi kinerja pengurus.</li>
              <li>Membangun budaya kerja profesional dan kekeluargaan.</li>
              <li>Menjaga regenerasi melalui pengarsipan yang sistematis.</li>
            </ol>
          </div>
        </div>
        <div
          class="md:w-1/2 flex flex-col items-center bg-green-samanvaya text-secondary-bright rounded-b-4xl rounded-t-md md:rounded-2xl md:p-16 p-6 appear-anim"
        >
          <H1 text="Tujuan" mode="center" />
          <p class="leading-relaxed mt-4 text-fluid-body font-isi">
            Terbentuknya mahasiswa fisika yang bertakwa kepada Allah SWT. Serta
            mengembangkan pengetahuan dan pengggunaan ilmu fisika untuk
            kepentingan manusia dan bangsa
          </p>
        </div>
      </div>
      <p class="mt-10 text-md font-isi text-fluid-body text-center">
        Pelajari lebih lanjut tentang kabinet Samanvaya dan filosofi logo
        Samanvaya dibawah ini
      </p>
      <CTA mode="dark" Href="/news/kabinetsamanvaya" />
    </div>
  </Section>

  <Section>
    <div
      class="w-full py-10 px-4 sm:px-8 md:px-16 lg:px-56 flex flex-col gap-10 items-center md:flex-row"
    >
      <div class="md:w-1/2">
        <H1 text="LOGO" />

        <ul
          class="leading-relaxed text-fluid-body px-4 md:px-0 flex flex-col gap-3 font-isi text-justify"
        >
          <li
            class="bg-primary p-6 rounded-lg text-secondary-bright appear-anim"
          >
            Lambang HIMAFI dibentuk dari lingkaran berwarna dasar hijau dan emas
            dibagian bawahnya. Dibagian dalam lingkaran terdapat lintasan 3
            (tiga) atom, 5 (lima) bintang, buku dan pulpen.
          </li>
          <li
            class="bg-primary p-6 rounded-lg text-secondary-bright appear-anim"
          >
            Lambang berbentuk lingkaran artinya keilmuan di bidang sains. Warna
            dasar hijau berarti Agama Islam. Warna emas sebagai kejayaan di
            bidang sains. 5 bintang melambangkan rukun Islam. 3 atom
            melambangkan Tri Dharma Perguruan Tinggi. Serta buku dan pulpen
            melambangkan Ilmu Pengetahuan.
          </li>
        </ul>
        <div class="w-fit mx-auto md:ml-9"></div>
      </div>
      <div class="md:w-1/2 rounded-full p-4 overflow-hidden appear-anim">
        <Image
          src={logoHimafi}
          alt="Logo Himafi"
          class="object-contain mx-auto shadow-lg rounded-full"
        />
      </div>
    </div>
  </Section>

  <HistorySection />

  <Section direct="structure" mode="light">
    <div class="md:pt-24 pt-10">
      <div
        class="px-4 sm:px-8 md:px-16 lg:px-42 flex flex-col items-center md:py-10 pb-5 md:flex-row-reverse md:justify-between"
      >
        <div class="p-6 md:w-1/2 md:flex md:flex-col">
          <H1 text="Struktur" />
          <Paragraph
            text=`"Dibalik setiap program kerja yang sukses, terdapat sinergi kuat dari
        para pengurus HIMAFI. inilah jajaran struktur organisasi yang
        berkomitmen untuk membawa perubahan positif dan menjadi wadah aspirasi
        bagi seluruh mahasiswa"`
          />
        </div>
        <div class="flex flex-col md:flex-row md:pl-10 md:gap-10">
          <div>
            <div class="rounded-2xl shadow-lg overflow-hidden appear-anim">
              <Image
                src={fotoNeiya}
                alt="Neiya"
                class="w-50 max-w-full md:w-72 md:h-112 object-cover transition-all duration-500 brightness-[0.9] hover:brightness-100 hover:scale-110"
              />
            </div>
            <h2 class="mt-2 text-center text-lg font-bold font-subhead">
              Ketua Himpunan
            </h2>
            <p class="text-center font-isi">Na’ilah Zahra Putri Utomo</p>
          </div>
          <div>
            <div class="rounded-2xl shadow-lg overflow-hidden appear-anim">
              <Image
                src={fotoHarry}
                alt="Neiya"
                class="w-50 max-w-full md:w-72 md:h-112 object-cover transition-all duration-500 brightness-[0.9] hover:brightness-100 hover:scale-110"
              />
            </div>
            <h2 class="mt-2 text-center text-lg font-bold font-subhead">
              Wakil Ketua Himpunan
            </h2>
            <p class="text-center font-isi">Hary Caesar Setiawan</p>
          </div>
        </div>
      </div>

      <div class="px-6 md:py-10">
        <div class="mx-auto px-6 pb-10 md:px-0 flex justify-center">
          <span
            class="font-bold px-3 font-heading text-center md:text-5xl lg:text-6xl md:px-9 text-4xl"
            >Kepengurusan</span
          >
        </div>
        <Structure />
      </div>
    </div>
  </Section>
  <Section mode="dark">
    <div
      class="w-full py-10 px-4 sm:px-8 md:px-16 lg:px-56 flex flex-col gap-10 items-center md:flex-row"
    >
      <div class="md:w-1/2">
        <H1 text="MPK" spanText="PO" />
        <H2 text="Majelis Pengawas dan Konsultasi Pengurus Organisasi" />
        <Paragraph
          text=`Kabinet Samanvaya hadir sebagai poros stabilitas dan sinergitas HIMAFI UIN Syarif Hidayatullah Jakarta. Kami berkomitmen penuhmewujudkan tata kelola organisasi yang integratif, akuntabel, dan profesional untuk menjalin kolaborasi strategis dengan berbagai kemitraan.`
        />
        <div class="w-fit mx-auto md:ml-9">
          <CTA Href="/about/mpkpo" mode="dark" />
        </div>
      </div>
      <div class="md:w-1/2 rounded-2xl shadow-lg overflow-hidden appear-anim">
        <Image
          src={MPKPO}
          alt="MPKPO"
          class="bg-secondary max-h-70 md:max-h-130 object-cover mx-auto transition-all duration-500 brightness-[0.9] hover:brightness-100 hover:scale-110"
        />
      </div>
    </div>
  </Section>
</Layout>
