---
import Layout from "../layouts/Layout.astro";
import Handler from "../components/underwork.astro";
import Paragraph from "../components/Paragraph.astro";
import CTA from "../components/CTA.astro";
import H1 from "../components/H1.astro";
import H2 from "../components/H2.astro";
import { Image } from "astro:assets";
import ContactBanner from "../assets/images/contact-banner.png";
import kominfoImg from "../assets/structure/Kominfo2.png";
import Section from "../components/Section.astro";
import ContactSection from "../components/ContactSection.astro";
import pbak from "../assets/programs/kader-pbak.jpg";
import whatsappIcon from "../assets/logo/whatsapp.svg?raw";
const Pagetitle = `Kontak`;
---

<Layout Pagetitle={Pagetitle}>
  <div class="relative h-80 w-full overflow-hidden">
    <Image
      src={ContactBanner}
      alt="contact banner"
      class="w-full h-full object-cover brightness-75"
      loading="eager"
      fetchpriority="high"
    />
  </div>
  <Section mode="dark">
    <div class="pt-10">
      <ContactSection />
    </div>
  </Section>
  <Section>
    <Section>
      <div
        class="w-full pt-42 px-4 sm:px-8 md:px-16 lg:px-56 flex flex-col gap-10 items-center md:flex-row"
      >
        <div class="md:w-1/2">
          <H1 text="PB" spanText="AK" />
          <H2 text="Layanan Kontak Mahasiswa Baru untuk kegiatan PBAK" />
          <Paragraph
            text="Kontak langsung dengan Humas PBAK Agar dapat mengetahui info lebih lanjut tentang PBAK"
          />
          <div class="w-fit mx-auto md:ml-9">
            <div
              class=`flex mt-8 justify-center md:justify-start rounded-full md:px-10 hover:opacity-90 appear-anim bg-primary-darken text-secondary-bright`
            >
              <a
                href="https://wa.me/6282311340535?text=Halo%20min,%20aku%20mau%20tanya%20soal%20PBAK%20nih"
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex justify-center items-center py-4 px-10 cursor-pointer rounded-full text-xl font-heading font-bold transition-all"
              >
                <div class="[&>svg]:w-5 [&>svg]:h-5 mr-2">
                  <Fragment
                    set:html={whatsappIcon}
                    alt="whatsapp"
                    loading="eager"
                  />
                </div> +62-8231-1340-535 (M Ian Hafidh)</a
              >
            </div>
          </div>
          <div class="w-fit mx-auto md:ml-9">
            <div
              class=`flex mt-3 justify-center md:justify-start rounded-full md:px-10 hover:opacity-90 appear-anim bg-primary-darken text-secondary-bright`
            >
              <a
                href="https://wa.me/6283898923611?text=Halo%20min,%20aku%20mau%20tanya%20soal%20PBAK%20nih"
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex justify-center items-center py-4 px-10 cursor-pointer rounded-full text-xl font-heading font-bold transition-all"
              >
                <div class="[&>svg]:w-5 [&>svg]:h-5 mr-2">
                  <Fragment
                    set:html={whatsappIcon}
                    alt="whatsapp"
                    loading="eager"
                  />
                </div> +62-8389-8923-611 (Nabila Alifia)</a
              >
            </div>
          </div>
        </div>
        <div class="md:w-1/2 rounded-2xl shadow-lg overflow-hidden appear-anim">
          <Image
            src={pbak}
            alt="Contact Humas"
            class="bg-secondary w-full h-full md:max-h-130 object-cover mx-auto transition-all duration-500 brightness-[0.9] hover:brightness-100 hover:scale-110"
          />
        </div>
      </div>
    </Section>
  </Section>
</Layout>
