---
import Section from "./Section.astro";
import H1 from "./H1.astro";
import H2 from "./H2.astro";

import Paragraph from "./Paragraph.astro";
import { Image } from "astro:assets";
import SamanvayaLogo from "../assets/logo/samanvaya.png";
import NewsCard from "../components/NewsCard.astro";

import NewsSection from "./newsSection.astro";
import Partner from "./Partner.astro";
import CTA from "./CTA.astro";
import fotoNeiya from "../assets/images/Neiya.png";
import fotoHarry from "../assets/images/Harry.png";
import fotoPbak from "../assets/images/PBAK.jpg";
import fotoRbtc from "../assets/images/Robotik.jpg";
import fotoEkspe from "../assets/images/Ekspedisi.jpg";
import fotoSpartival from "../assets/images/Spartival.jpg";
import fotoTo from "../assets/images/Training-organization.jpg";
import fotoPhyTon from "../assets/images/PHY-TON.jpg";
import ProgramsCard from "../components/ProgramsCard.astro";

import { getCollection } from "astro:content";
const title = "HIMA";
const subhead = `UIN syarif hidayatullah jakarta`;
const spanTitle = "FI";
const news = await getCollection("news");
---

<Section mode="light">
  <div
    class="w-full pt-42 px-4 sm:px-8 md:px-16 lg:px-72 flex flex-col items-center md:flex-row"
  >
    <div class="md:w-1/2">
      <H1 text={title} spanText={spanTitle} />
      <H2 text={subhead} />
      <Paragraph
        text=`Kabinet Samanvaya hadir sebagai poros stabilitas dan sinergitas HIMAFI UIN Syarif Hidayatullah Jakarta. Kami berkomitmen penuhmewujudkan tata kelola organisasi yang integratif, akuntabel, dan profesional untuk menjalin kolaborasi strategis dengan berbagai kemitraan.`
      />
      <div class="w-fit mx-auto md:ml-9">
        <CTA mode="bright" Href="/about#about" />
      </div>
    </div>
    <div class="md:w-1/2">
      <Image
        src={SamanvayaLogo}
        alt="Samanvaya"
        class="max-w-xs md:max-w-lg object-contain mx-auto"
        loading="eager"
        fetchpriority="high"
      />
    </div>
  </div>
</Section>

<Section mode="dark">
  <div
    class="w-full pt-36 px-4 sm:px-8 md:px-16 lg:px-24 flex flex-col items-center pb-20 md:pb-0"
  >
    <div class="flex flex-col items-center">
      <H1 text="Berita" mode="center" />
    </div>
    <div
      class="mt-10 flex px-10 md:px-36 flex-wrap justify-center md:grid md:grid-cols-3 md:gap-7 sm:grid-cols-2 sm:gap-10"
    >
      {news.map((report) => <NewsSection report={report} />)}
      {news.length < 1 && <Paragraph text="Ga ada berita kawan " />}
    </div>
    <CTA text="Lihat lebih banyak" Href="/news" mode="dark" />
  </div>
</Section>

<Section mode="bright">
  <div
    class="px-4 sm:px-8 md:px-16 lg:px-42 flex flex-col py-10 items-center md:h-screen md:flex-row-reverse md:justify-between"
  >
    <div class="p-6 md:w-1/2 md:flex md:flex-col">
      <H1 text="Struktur" />
      <Paragraph
        text="Dibalik setiap program kerja yang sukses, terdapat sinergi kuat dari
        para pengurus HIMAFI. inilah jajaran struktur organisasi yang
        berkomitmen untuk membawa perubahan positif dan menjadi wadah aspirasi
        bagi seluruh mahasiswa"
      />
      <div class="w-fit mx-auto md:ml-9">
        <CTA mode="bright" Href="/about#structure" />
      </div>
    </div>
    <div class="flex flex-col md:flex-row md:pl-10 md:gap-10">
      <div>
        <div
          class="px-6 pt-6 backdrop-blur-md bg-white/30 border border-white/20 rounded-2xl shadow-lg appear-anim"
        >
          <Image
            src={fotoNeiya}
            alt="Neiya"
            class="w-40 md:w-72 md:h-112 object-cover"
          />
        </div>
        <h2 class="mt-2 text-center text-lg font-bold font-subhead">
          Ketua Himpunan
        </h2>
        <p class="text-center font-isi">Na’ilah Zahra Putri Utomo</p>
      </div>
      <div>
        <div
          class="px-6 pt-6 backdrop-blur-md bg-white/30 border border-white/20 rounded-2xl shadow-lg appear-anim"
        >
          <Image
            src={fotoHarry}
            alt="Neiya"
            class="w-40 md:w-72 md:h-112 object-cover"
          />
        </div>
        <h2 class="mt-2 text-center text-lg font-bold font-subhead">
          Wakil Ketua Himpunan
        </h2>
        <p class="text-center font-isi">Hary Caesar Setiawan</p>
      </div>
    </div>
  </div>
</Section>

<Section mode="dark">
  <div class="py-10 px-4 sm:px-8 md:px-16 lg:px-20">
    <div class="">
      <div class="hidden md:block pl-26"><H1 text="Program Kerja" /></div>
      <div class="md:hidden"><H1 text="Proker" /></div>
      <div class="md:pl-26">
        <Paragraph
          text="Program Kerja HIMAFI disusun dan dikaji secara matang oleh masing-masing departemen HIMAFI"
        />
      </div>
    </div>
    <div
      class="mt-10 flex px-10 md:px-36 flex-wrap justify-center md:grid md:grid-cols-3 md:gap-7 sm:grid-cols-2 sm:gap-10"
    >
      <ProgramsCard
        title="PBAK"
        content="Pengenalan Budaya Akademik"
        img={fotoPbak}
        Href="/about/kaderisasi#KaderisasiProgram"
      />
      <ProgramsCard
        title="Robotik"
        content="Klub Robotik HIMAFI"
        img={fotoRbtc}
        Href="/about/litbang#LITBANGProgram"
      />
      <ProgramsCard
        title="Ekspedisi"
        content="Eksplorasi Pengenalan Edukasi Fisika"
        img={fotoEkspe}
        Href="/about/kaderisasi#KaderisasiProgram"
      />
      <ProgramsCard
        title="Spartival"
        content="Sport and Art Festival"
        img={fotoSpartival}
        Href="/about/minbak#MINBAKProgram"
      />
      <ProgramsCard
        title="Training Organization"
        content="Pelatihan Organisasi dan Kepemimpinan"
        img={fotoTo}
        Href="/about/kaderisasi#KaderisasiProgram"
      />
      <ProgramsCard
        title="Phy-ton"
        content="Penggalangan dana bagi anak-anak panti asuhan"
        img={fotoPhyTon}
        Href="/about/kaderisasi#SOSROProgram"
      />
    </div>
  </div>
</Section>
<Partner />
